# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Env secrets
.env

# Docker
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db